body {
  background-color: #162447;
}

h1, p {
  color: white;
}

h2, h3 {
  color: gray;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: gold;
  border-width: 5px;
  height: 0%;
  width: 5%;
}
